<mat-list>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 2</mat-list-item>
    <mat-list-item>Item 3</mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<mat-list dense>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 2</mat-list-item>
    <mat-list-item>Item 3</mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<mat-list>
    <mat-list-item>
        <mat-icon color="primary" matListIcon>home</mat-icon>
        <h3 matLine>Heading</h3>
        <p matLine>Line</p>
    </mat-list-item>
    <mat-list-item>
        <mat-icon color="primary" matListIcon>folder</mat-icon>
        <h3 matLine>Heading 2</h3>
        <p matLine>Line 2</p>
    </mat-list-item>
</mat-list>