<div>
  <mat-checkbox>
    Subscribe
  </mat-checkbox>

  <mat-checkbox labelPosition="before">
    Follow
  </mat-checkbox>

  <mat-checkbox color="primary">
    Primary theme
  </mat-checkbox>

  <mat-checkbox color="warn">
    Warn theme
  </mat-checkbox>
</div>

<div>
    <mat-radio-group>
        <mat-radio-button value="accent" color="accent">Accent Color</mat-radio-button> 
        <mat-radio-button value="primary" color="primary">Primary Color</mat-radio-button> 
        <mat-radio-button value="warn" color="warn">Warn Color</mat-radio-button> 
    </mat-radio-group>
</div>