<mat-icon [matBadge]="notificationCount" [matBadgeHidden]="notificationCount===0" matBadgePosition="below before">notifications</mat-icon>



<mat-icon [matBadge]="notificationCount" [matBadgeHidden]="notificationCount===0" matBadgePosition="below after">notifications</mat-icon>



<mat-icon [matBadge]="notificationCount" [matBadgeHidden]="notificationCount===0" matBadgePosition="above before">notifications</mat-icon>



<mat-icon [matBadge]="notificationCount" [matBadgeHidden]="notificationCount===0" matBadgePosition="above after">notifications</mat-icon>



<mat-icon [matBadge]="notificationCount" [matBadgeHidden]="notificationCount===0" matBadgePosition="above after" matBadgeColor="primary">notifications</mat-icon>



<mat-icon [matBadge]="notificationCount" [matBadgeHidden]="notificationCount===0" matBadgePosition="above after" matBadgeColor="accent">notifications</mat-icon>



<mat-icon [matBadge]="notificationCount" [matBadgeHidden]="notificationCount===0" matBadgePosition="above after" matBadgeColor="warn">notifications</mat-icon>



<mat-icon [matBadge]="notificationCount" [matBadgeHidden]="notificationCount===0" matBadgePosition="above after" matBadgeSize="small">notifications</mat-icon>



<mat-icon [matBadge]="notificationCount" [matBadgeHidden]="notificationCount===0" matBadgePosition="above after" matBadgeSize="large">notifications</mat-icon>



<mat-icon [matBadge]="notificationCount" [matBadgeHidden]="notificationCount===0" matBadgePosition="above after" matBadgeOverlap="false">notifications</mat-icon>
