<!-- 
    Try  <mat-form-field floatLabel="never">
         possible values of floabLabel are:
         never, always, auto (default)
-->

<mat-form-field>
  <mat-label>Basic</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Required</mat-label>
  <input matInput required>
</mat-form-field>


<mat-form-field>
  <mat-label>With Hint</mat-label>
  <input matInput>
  <mat-hint align="end">Check inbox</mat-hint>
</mat-form-field>

<mat-divider></mat-divider>

<mat-form-field appearance="legacy">
  <mat-label>Legacy Appearance</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field appearance="standard">
    <mat-label>Standard Appearance</mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Fill Appearance</mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Outline Appearance</mat-label>
    <input matInput>
</mat-form-field>

<mat-divider></mat-divider>

<mat-form-field color="warn" appearance="outline">
    <mat-label>Warn Color</mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field color="accent" appearance="fill">
    <mat-label>Accent Color</mat-label>
    <input matInput>
</mat-form-field>