<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Material Fundamentals
      </mat-panel-title>
      <mat-panel-description>
        Total Duration: 1 week
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      This is the panel content. Any html code can be put here.
    </p>
    <mat-action-row>
      <button mat-raised-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Angular 8</mat-panel-title>
      <mat-panel-description>Total Duration: 3 week</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Wrap mat-expansion-panel in mat-accordion</p>
    <p>Try multi="true" and hideToggle attributes in mat-accordion</p>
    <mat-action-row>
        <button mat-raised-button>Got It</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
