<mat-form-field>
    <mat-label>Framework</mat-label>
    <mat-select [(value)]="selectedValue">
        <mat-option>None</mat-option>
        <mat-option value="angular">Angular</mat-option>
        <mat-option value="react">React</mat-option>
        <mat-option value="vue">Vue</mat-option>
    </mat-select>
</mat-form-field>
{{selectedValue}}

<mat-divider></mat-divider>

<mat-form-field>
    <mat-label>Framework</mat-label>
    <mat-select [(value)]="selectedValue2" multiple>
        <mat-option>None</mat-option>
        <mat-optgroup label="Web">
            <mat-option value="angular">Angular</mat-option>
            <mat-option value="react">React</mat-option>
            <mat-option value="vue">Vue</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Web">
            <mat-option value="ionic">Ionic</mat-option>
            <mat-option value="react native">React Native</mat-option>
        </mat-optgroup>
    </mat-select>
</mat-form-field>
{{selectedValue2}}