<div>
  <ul>
    <li> <a routerLink="typography">Typography</a> </li>
    <li> <a routerLink="button">Button</a> </li>
    <li> <a routerLink="icon">Icon</a> </li>
    <li> <a routerLink="badge">Badge</a> </li>
    <li> <a routerLink="spinner">Spinner</a> </li>
    <li> <a routerLink="toolbar">Toolbar</a> </li>
    <li> <a routerLink="sidenav">Sidenav</a> </li>
    <li> <a routerLink="menu">Menu</a> </li>
    <li> <a routerLink="list">List</a> </li>
    <li> <a routerLink="grid">Grid</a> </li>
    <li> <a routerLink="expansion-panel">Expansion Panel</a> </li>
    <li> <a routerLink="card">Card</a> </li>
    <li> <a routerLink="tabs">Tabs</a> </li>
    <li> <a routerLink="stepper">Stepper</a> </li>
    <li> <a routerLink="input">Input</a> </li>
    <li> <a routerLink="select">Select</a> </li>
    <li> <a routerLink="autocomplete">Autocomplete</a> </li>
    <li> <a routerLink="checkbox">Checkbox</a> </li>
    <li> <a routerLink="datepicker">Datepicker</a> </li>
  </ul>
</div>

<div>
  <router-outlet></router-outlet>
</div>
