<mat-grid-list cols="2" gutterSize="10px" rowHeight="fit" style="height: 90vh;">
    <mat-grid-tile rowspan="2">Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>
    <mat-grid-tile colspan="2">Tile 5</mat-grid-tile>
</mat-grid-list>

<!-- 
possible values of rowHeight are:
rowHeight="100px"
rowHeight="2:1" // it means half of the column width
rowHeight="fit" // in this we need to define the size of the container 
-->
